{% extends "base.html" %}

{% block title %}Order Confirmation{% endblock %}

{% block content %}
<main>
    <h1>Thank You for Your Order!</h1>
    <p>Your order has been successfully placed. Your order number is: {{ order_number }}</p>
    <p>Your order has been sent to the administration.</p>
    <h3>Order Details:</h3>
    <ul>
        {% for bicycle in bicycles %}
            <li>
                <strong>{{ bicycle.name }}</strong> - {{ bicycle.price }} USD
            </li>
        {% endfor %}
    </ul>
    <a href="{{ url_for('main.home') }}" class="btn" style="color: #000;">Return to Home</a>
</main>
{% endblock %}
