{% extends "base.html" %}

{% block title %}Подтверждение заказа{% endblock %}

{% block content %}
<main>
    <h1>Спасибо за ваш заказ!</h1>
    <p>Ваш заказ был успешно оформлен. Номер вашего заказа: {{ order_number }}</p>
    <p>Ваш заказ передан администрации.</p>
    <h3>Детали заказа:</h3>
    <ul>
        {% for bicycle in bicycles %}
            <li>
                <strong>{{ bicycle.name }}</strong> - {{ bicycle.price }} USD
            </li>
        {% endfor %}
    </ul>
    <a href="{{ url_for('main.home') }}" class="btn" style="color: #000;">Вернуться на главную</a>
</main>
{% endblock %}
