{% extends "base.html" %}

{% block title %}Ваша корзина{% endblock %}

{% block content %}
<h1>Ваша корзина</h1>

<ul class="bicycle-list">
    {% for bicycle in bicycles %}
        <li class="bicycle-item">
            <h2>{{ bicycle.name }}</h2>
            <p>{{ bicycle.description }}</p>
            <p>Цена: {{ bicycle.price }} USD</p>
            {% if bicycle.image_filename %}
                <img src="{{ url_for('static', filename='uploads/' + bicycle.image_filename) }}" alt="{{ bicycle.name }}" width="200">
            {% endif %}
            <h3>Характеристики:</h3>
            <ul class="bicycle-specifications">
                {% for spec in bicycle.specifications %}
                    <li><strong>{{ spec.name }}:</strong> {{ spec.value }}</li>
                {% endfor %}
            </ul>

            <!-- Здесь мы убираем кнопку "Добавить в корзину", поскольку велосипед уже в корзине -->
            <form method="POST" action="{{ url_for('cart.remove_from_cart', bicycle_id=bicycle.id) }}">
                <button type="submit" class="btn-remove-from-cart" style="background-color: red; color: white;">Удалить из корзины</button>
            </form>
        </li>
    {% else %}
        <li>Ваша корзина пуста.</li>
    {% endfor %}
</ul>

<form method="POST" action="{{ url_for('cart.checkout') }}">
    <button type="submit" class="btn-checkout">Оформить заказ</button>
</form>

{% endblock %}
