{% extends "base.html" %}

{% block title %}О нас{% endblock %}

{% block content %}
<h1>О нас</h1>
<p>Добро пожаловать в наш Магазин Велосипедов! Мы стремимся предложить нашим клиентам лучший выбор велосипедов, аксессуаров и услуг.</p>
<p>Наши ценности - это качество, безопасность и доверие клиентов. Мы верим, что катание на велосипеде должно приносить удовольствие и быть безопасным для всех.</p>

<h3>Наша команда:</h3>
<ul>
    <li><strong>Дизайнер:</strong> <a href="mailto:241470@astanait.edu.kz">241470@astanait.edu.kz</a></li>
    <li><strong>Бэкэнд-разработчик:</strong> <a href="mailto:230151@astanait.edu.kz">230151@astanait.edu.kz</a></li>
    <li><strong>Фронтэнд-разработчик:</strong> <a href="mailto:231610@astanait.edu.kz">231610@astanait.edu.kz</a></li>
</ul>
{% endblock %}
