{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1>Care about bicycle</h1>
    <p>On this page you can find useful vidoes about how to care about your new friend!</p>
    
    <!-- Горизонтальный контейнер для видео -->
    <div class="video-container">
        <iframe
            src="https://www.youtube.com/embed/GiXGI2NwZ14?si=cSNCm-7jaAu41BjW"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen>
        </iframe>

        <iframe
            src="https://www.youtube.com/embed/blmlS-3VCEw?si=gFtRgiGagayO2jpm"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen>
        </iframe>

        <iframe
            src="https://www.youtube.com/embed/sbh8vDzwnxU?si=ydX3lMUsUYL5gPVY"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen>
        </iframe>
    </div>

    <div class="video-container">
        <iframe
            src="https://www.youtube.com/embed/_FF4HSPoCwI?si=0-IakPLOz5nrqTuo"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen>
        </iframe>

        <iframe
            src="https://www.youtube.com/embed/8nwbdqVacZo?si=wdN_A11jw5TiK3eH"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen>
        </iframe>

        <iframe
            src="https://www.youtube.com/embed/t9tVnLaBKSI?si=ir9hU1QVo6UXLx-M"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen>
        </iframe>
    </div>
</div>
{% endblock %}
